/* Write your code here. */
.list-container {
  list-style-type: none;
  height: 100px;
  width: 100px;
  margin-right: 5px;
  list-style-type: none;
}
.thumbnail {
  width: auto;
  height: 60px;
  opacity: 0.5;
}
.thumb-nail-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0px;
  background-color: none;
  border-color: none;
  opacity: 0.5;
}
.active {
  opacity: 1;
}
